.contenedor{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tateti{
  height: 300px;
  width: 300px;
  display: grid;
  grid-template : 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.tateti div{
  border: solid 1px black;
}