input{
    border: none;
    font-size: 20px;
    margin-bottom: 10px;
}

input:focus{
    outline: none;
}

textarea{
    border: none;
    font-size: 15px;
    resize: none;
    height: 100px;
    width: 250px;
}

textarea:focus{
    outline: none;
}

.no-editable{
    color: rgb(166, 166, 166);
}

.editable{
    color: black;
    border-bottom: solid black 1px;
}

