#contadorSalidas{

    height: 100px;
    width: 100px;
    background-color: crimson;
    border-radius: 100px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}